In [2]:
import pandas as pd
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\14871\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1', names=['target','ids','date','flag','user','text'])
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
# Remove URLs
df['text'] = df['text'].str.replace(r'http\S+', '')
# Remove @
df['text'] = df['text'].str.replace(r'@\S+', '')
# Remove hashtags
df['text'] = df['text'].str.replace(r'#\S+', '')
# Remove usernames
df['text'] = df['text'].str.replace(r'\@\w+', '')
# Remove numbers
df['text'] = df['text'].str.replace(r'\d+', '') 
# Remove punctuation
df['text'] = df['text'].str.replace(r'[^\w\s]', '') 
# Convert to lowercase
df['text'] = df['text'].str.lower()
#remove storpwords
stop_words = stopwords.words('english')
df['cleaned_text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
df.head()

C:\Users\14871\AppData\Local\Temp\ipykernel_35412\3367737716.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(r'http\S+', '')
C:\Users\14871\AppData\Local\Temp\ipykernel_35412\3367737716.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(r'@\S+', '')
C:\Users\14871\AppData\Local\Temp\ipykernel_35412\3367737716.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(r'#\S+', '')
C:\Users\14871\AppData\Local\Temp\ipykernel_35412\3367737716.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(r'\@\w+', '')
C:\Users\14871\AppData\Local\Temp\ipykernel_35412\3367737716.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(r'\d+', '')
C:\Users\14871\AppData\Local\Temp\ipykernel_35412\3367737716.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(r'[^\w\s]', '')

,target,ids,date,flag,user,text,cleaned_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww thats a bummer you shoulda got david ...,awww thats bummer shoulda got david carr third...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he cant update his facebook by t...,upset cant update facebook texting might cry r...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,i dived many times for the ball managed to sa...,dived many times ball managed save rest go bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole body feels itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no its not behaving at all im mad why am i he...,behaving im mad cant see

In [5]:
df.to_csv("cleaned_training_data.csv", encoding="utf-8", index=False)